[2017-04-10 11:25] lekhnath opened #1 "Not moving to double characters position"
I recently updated this to v1.15.0 and experienced this issue. Cursor is not moving to the double characters position but works fine with single character position. I mean when there are lots of matches and this extension shows two characters (ie. `kj`) and when I type `k` and then `j` the cursor is not moving to that place.

VSCode v1.11.1
Thanks.

[2017-04-11 07:05] metasong commented on #1
wow! first issue report, thanks!
sorry for the mistake bug, fixed in new version.
I added intleliget goto features and goto previous/next features in new version

[2017-04-11 07:06] #1 closed

[2017-04-18 13:07] plievone opened #2 "Moving cursor up/down, skipping whitespace"
Hi! A quick drive-by suggestion: moving up/down using whitespace is even more useful if you would take column into account, so one could use current indentation to affect the granularity of movement. Some explanation here: https://github.com/Microsoft/vscode/issues/16367

It may need experimentation, but basically skipping up/down to next char before whitespace (if already on a char), or next char

[2017-04-18 21:14] n-roman opened #3 "Command not found"
When I press any extension specific shortcut or choose a command from command palette I got an error: "command 'metaGo.goto' not found".

VSCode:
Version 1.11.2
Commit 6eaebe3b9c70406d67c97779468c324a7a95db0e
Date 2017-04-13T08:01:14.464Z
Shell 1.4.6
Renderer 53.0.2785.143
Node 6.5.0

[2017-04-19 03:41] metasong commented on #3
I've tested  metago extension (V1.23.0) on the VSCode (1.11.2) and can't repeat the problem. can you give me more detail information?

[2017-04-19 05:27] metasong commented on #2
let me have try, i've will give further information later.

[2017-04-19 17:32] n-roman commented on #3
I have recently installed Fedora 25 and fresh version vscode from official repo. I removed ~/.vscode and ~/.config/Code for this test, so I have no other extensions and default settings.
1. Start VsCode
2. Install metaGo extension
3. Reload VsCode
4. Open Command Palette
5. Choose metaGo Goto command

![image](https://cloud.githubusercontent.com/assets/1137252/25193287/40089246-253f-11e7-82a8-671b

[2017-04-19 20:16] OldViking commented on #3
Right after install plugin i had the same issue. I'm typing Alt+; and get warning message "command 'MetaGo' not found". Also i had error "Activating extension `metaseed.metago` failed:  config.get(...).split is not a function" in developer tools.

OS: Windows 10
VS Code version 1.11.2

[2017-04-19 20:21] n-roman commented on #3
I have other errors in console:

[code]

[2017-04-20 01:48] metasong commented on #3
it seems the error comes from wrong configuration of metaGo.decoration.characters.
the default one is "k, j, d, f, l, s, a, h, g, i, o, n, u, r, v, c, w, e, x, m, b, p, q, t, y, z". it's a string.
in new release, i've make sure metaGo will run with default config, even if user gives wrong configuration. and the user will be notified when config is wrong.

@n-roman @OldViking, thank you very much f

[2017-04-20 05:20] n-roman commented on #3
Sorry, but it's not fixed in 1.24.0.
I think first problem is that file src/bookmark/index has import './bookmark', but the real file has name Bookmark.
Linux file systems are case sensitivity.
Still not work, there is some another problem, that I will identify later. Now I have to go to work

[2017-04-20 05:21] n-roman commented on #3
But in repo you have file "bookmark"... strange...

[2017-04-20 05:30] n-roman commented on #3
After fixing this imports I have no error anymore, but I said, still don't work. Log after pressing Alt+; :
[code]
I will keep in touch after several hours

[2017-04-20 09:20] metasong commented on #3
i've tried to fix this 2 problems in new version.
have a try.
thanks @n-roman

[2017-04-20 11:46] OldViking commented on #3
For me problem is't fixed. I have same warning message, but now nave no errors in developer tools.

[2017-04-20 13:23] metasong commented on #3
@OldViking , your problem is because the amVim plugin. that extensionregister the vscode 'type' command on startup, and never release it. while metaGo just dynamicly register this command when needed. but at the same time, vscode only allow one register on that command, that means when metaGo try to register that command, it will fail. currently there is no solution for this problem, maybe we shou

[2017-04-20 13:31] OldViking commented on #3
I do not agree that this is a problem with amVim. Now i have only one extension, which is MetaGo, and it's still no working.

[2017-04-20 14:51] metasong commented on #3
@OldViking what your current problem now, can you give me more information: the message on status bar, the log in console, and the environment, and any config about metago, have you tried restart vscode after uninstall other extension i.e. amVim.

my current environment is windows 10 and vscode 1.11.2, and it works fine.

[2017-04-20 14:55] OldViking commented on #3
@metasong, i have no problem with MetaGo now, it's working as expected. Only with vim-like extensions.

Thank you, @metasong, for resolving my problem.

[2017-04-20 18:06] n-roman commented on #3
It works! Thank you, @metasong, for fix and for excellent extension!

[2017-04-21 00:19] metasong commented on #3
@n-roman and @OldViking, so glad to hear the goog news from you two.
currently i am try a new feature to navigate between files: mark. alt+' to set/unset mark,  alt+/ to list mark and navigate. i.e. after show the list, press c then press enter to clear marks in current file, n to goto next mark, p to go to ptevious one.
if you like you can have a try, it included in the new version. cheers！

[2017-04-21 00:21] metasong commented on #3
@n-roman and @OldViking, so glad to hear the goog news from you two.
currently i am try a new feature to navigate between files: mark. alt+' to set/unset mark,  alt+/ to list mark and navigate. i.e. after show the list, press c then press enter to clear marks in current file, n to goto next mark, p to go to ptevious one.
if you like you can have a try, it included in the new version. cheers！

[2017-04-21 05:41] #3 closed

[2017-04-24 14:20] plievone opened #5 "Save .vscode/bookmarks.json somewhere else"
Hi, could you persist the bookmarks.json in some other location, for example see extension-specific `storagePath` and `workspaceState` in [Extension API](https://code.visualstudio.com/docs/extensionAPI/vscode-api#_a-nameextensioncontextaspan-classcodeitem-id1016extensioncontextspan). I haven't experimented with those, so don't know how they are affected by editor and extension upgrades.

Currently

[2017-04-27 02:04] metasong commented on #5
I am rewriting the bookmark releated functions.
currently you can set  'metaGo.bookmark.saveBookmarksInProject' to false in your setting, if you like.

[2017-05-02 07:12] #5 closed

[2017-06-10 12:28] freMea opened #6 "[BUG] Ignore case settings"
Hi,

I set `"metaGo.jumper.targetIgnoreCase": "true"` and it doesn't work.

I think the cause would be the setting must be boolean instead of string type. If user forces the boolean type, it doesn't work either.

You should convert this `"metaGo.jumper.findInSelection": "on"` setting to boolean too.

### While we are it

`"metaGo.decoration.backgroundOpacity": "0.7"` why not convert this to decima

[2017-06-21 01:26] metasong commented on #6
i'll have a look at this weekend, thanks @freMea

[2017-07-14 14:53] Crazy-Owl commented on #6
I think I've fixed it in https://github.com/metaseed/metaGo/pull/7

[2017-07-27 03:06] metasong commented on #6
@Crazy-Owl good job!

[2017-07-27 03:06] #6 closed

[2017-08-02 19:01] ravigadila opened #8 "Not working when installed along with vscode-emacs-friendly"
VS Code Insider 1.15.

[2017-08-16 08:02] metasong commented on #8
currently it could coexist with vim plugin, have a try!

[2017-08-16 08:13] metasong commented on #8
i have tried with the vscode-emacs, if installed with it, the alt+; shortcut is bond to 'block comment', you should config it in it in keybindings.json
[code]

[2017-08-16 08:13] #8 closed

[2017-08-16 08:15] #2 closed

[2017-08-24 07:26] wildeyes opened #9 "Codegov badge URL leads to an unauthorized page"
![image](https://user-images.githubusercontent.com/1652108/29654644-a807f604-88b6-11e7-8966-ff837ec442fa.png)

[2017-09-01 04:16] andersodt opened #10 "Option for cursor before?"
Hello,

I am using the Vim plugin, and I was wondering if it's possible for an option to make the cursor appear before a character. I ask because when I goto a character in the middle or at the end of a word, the NORMAL MODE cursor actually appears on the character to the right of the one I have goto'd.  The only time the cursor appears on the goto character is when it is the first character of a

[2017-09-01 04:33] andersodt commented on #10
Nevermind -- using "extension.gotoBefore" solved my problem!

This is the goto extension I've been looking for!

[2017-09-01 04:33] #10 closed

[2017-10-13 03:39] #9 closed

[2018-06-21 13:45] mindgitrwx opened #11 "Visual mode in vim plugin with metago."
great extension but one pitfall has been existence.

In visual mode of VScode vim extension, It seems to be worked well. But after cursor moved on, nothing has selected and I cannot copy anything. Could you solve this problem?

[2018-07-31 04:29] paidhi opened #12 "Empty changelog"
Could you please update the changelog file for new releases? Being able to see what has changed with an extension update in VSCode is a very valuable feature.

[2018-08-04 09:58] piox34 opened #13 "Theme Configuration"
Loving the package, really useful! I was wondering if there would be a chance to configure the box color and size - jumpy in Atom picks the editor theme which fits really nicely with everything.

Might not be top priority but would make it much nicer to look at. Many thanks for considering this!

[2018-08-14 02:02] zhaotongxue opened #14 "EasyMtion Line Mode?"
I uninstalled my vim extension in VScode because it so slow what startup of is cost me about 2s.
I installed amVim And MetaGo.They feed my need.And they are quick.But one thing that is not better than VIM extension is that MetaGo doesn't have a line mode,which can be done in Vim extenson by command \\j \\k \\h \\l after enable EeayMotino In it,would you please add those founctions to it?
thanks.

[2018-09-12 04:06] #14 closed

[2018-10-02 16:40] k3kc opened #15 "metaGo.inteli - wrong command name"
Documentation mentions metaGo.inteli, while the actual command is metaGo.gotoInteli

[2018-10-17 06:30] metasong commented on #13
thanks for your feedback:

you could do it in your vscode setting:
![image](https://user-images.githubusercontent.com/5009757/47066551-16014f00-d219-11e8-84fa-ed6dac53c318.png)

[2018-10-17 06:30] #13 closed

[2018-10-17 06:30] metasong commented on #15
thanks for your feedback.
I modified it in new release.

[2018-10-17 06:30] #15 closed

[2018-10-25 13:32] ColCh opened #17 "Place cursot not after but before letter"
given: `k` letter pressed

![image](https://user-images.githubusercontent.com/599439/47503602-35305a00-d873-11e8-82c4-65bab2168cd4.png)

then user pressed on `j`

cursor moves here

![image](https://user-images.githubusercontent.com/599439/47503671-5b55fa00-d873-11e8-93df-bbabbe56f277.png)

and the question is, how to make it move here instead?

![image](https://user-images.githubusercontent.com/5

[2018-11-02 14:06] ColCh commented on #17
It seemed that I should use other command

[2018-11-02 14:06] #17 closed

[2018-12-05 11:30] padamczewski opened #18 "Multiple cursor support"
Hey is it possible to make more than one selection using multiple cursors feature?

[2019-01-29 16:08] iignatov opened #19 "[enhancement] Option to add code labels only to beginning of words"
It would be great if there's a configuration setting to add code labels only to beginning of words. IMO this is the main use-case (or at least I use it only this way). This will vastly reduce the clutter when trying to navigate to a word that starts with a very common character (which gets even worse when the word contains it multiple times).

[2019-01-29 17:19] iignatov opened #20 "[enhancement] Incremental word navigation"
It would be awesome to add ability to incrementally filter word navigation, e.g. when someone wants to navigate to the word `awesome` starting with `a` adds labels to all occurrences of `a`, then typing `w` leaves labels only the at places which contains `aw`, etc...

[2019-02-18 12:11] janhesters opened #21 "Incorrect documentation?"
So I tried adding the following to my `settings.json` (like described in the docs)

[code]

and it throws a TypeError.

[code]

works fine though.

[2019-02-18 13:05] janhesters opened #22 "command 'metaGo.delete.softDelete' not found"
I'm used to hitting `shift`+`backspace` when editing files, especially when I misspell constants.

After installing this extensions it doesn't erase my last typed character, but instead it shows the error message:

[code]

This seems to be a bug.  I can't find anything about that setting in the docs.

[2019-03-01 15:44] ColCh opened #23 "Incorrectly handles folded regions"
demo shows itself
https://streamable.com/vgpia

[2019-04-05 21:30] art049 commented on #17
I'm interested if you found a way to do it @ColCh

[2019-04-09 14:14] shelper opened #24 "Enable configurable length of search instead of single character"
Right now, the plugin searches single character, and often there are too many matches,
it would be nicer if we can configure the length of the search, say i can type `alt +;` then followed by  a two or three character before the positions been highlighted.

[2019-04-12 19:23] ColCh commented on #17
@art049

there are commands for it

just try to use one of these

https://github.com/metaseed/metaGo/blob/0422537c5750c50283e0950d986c89221d076291/package.json#L45-L48

https://github.com/metaseed/metaGo/blob/0422537c5750c50283e0950d986c89221d076291/package.json#L49-L52

https://github.com/metaseed/metaGo/blob/716a4872b6f92fb4fe6423d63a0812a220e909f6/src/metajumper/index.ts#L52

[2019-05-29 15:53] pkazmier opened #25 "Missing metaGo.gotoInteli command?"
The `metaGo.gotoInteli` command is missing and does not appear in the command palette or the contributed commands section in the MetaGo extension description. Is this because the command is not registered in `package.json` in the `contributes` section?

<img width="1700" alt="image" src="https://user-images.githubusercontent.com/747855/58571309-175b1700-81ff-11e9-847c-a27969ccb5e9.png">

Could you

[2019-08-30 04:36] freMea commented on #25
It is not listed in panel but it appears in keyboard shortcuts and can be assigned.

[2019-08-30 05:08] freMea opened #26 "Assigning keybindings sequence doesn’t work"
VS Code version | OS | Extension version
------------------ | ---- | ----
1.37.1 | Win 10 x64 pro (french) 18362 | 2.11.0

## Steps to reproduce

1. assign a valid and free keybindings sequence like CTRL+K SHIFT+ARROWDOWN for selectLineDown
2. test it

## Results

A warning message is displayed in the Code status bar “The key combination…is not a command”

[2019-08-30 05:21] freMea opened #27 "currentLineTo methods don’t work (I guess)"
VS Code version | OS | Extension version
------------------ | ---- | ----
1.37.1 | Win 10 x64 pro (french) 18362 | 2.11.0

Any _currentLineTo_ methods don’t do anything. What are they supposed to do ? It sounds like a broken feature.

[2019-09-24 07:11] Ch3ri0ur opened #28 "Destination letters not appearing."
When using VSCode Insiders the destination letters don't appear anymore.
It switches to the Jump-Mode, you can see a green bar at your current location, but the other letters are missing.

If you then press some likely keys the courser jumps.
So it seem it's really just the display.

I'm currently using VSCode Insiders Version 1.39.0
I disabled all other extensions but the problem persisted.
When

[2019-09-26 10:33] kamenminkov commented on #28
Can confirm, the issue exists in the latest few Insider builds.

[2019-10-03 08:23] kamenminkov commented on #28
Seems to be fixed in today's Insider build.

[2019-10-11 15:11] kamenminkov commented on #28
Issue is present again in latest Insider 1.40.0 build.

[2019-10-14 09:36] Ch3ri0ur commented on #28
Can confirm. Same issues in 1.40.0.

[2019-10-15 03:33] tecosaur opened #29 "Remove useless line from console output"
At the moment on startup this extension logs
[code]

This seems a bit useless…

[2019-10-28 09:13] dunkarooftop opened #30 "[Feature Request] Multi-Doc jump :)"
In Emacs there is a package call "Avy" It can jump to all the docs on screen which is a super fast way to switch window. See image :)

https://i.imgur.com/H0vg3Gf.png

Not sure if it's possible to do in VSCode. Thanks for the good work. After trying all the jumpy stuff in VSCode, yours is the best.

[2019-11-02 07:29] dinesh3434 opened #31 "metago does not work in jupyter notebook mode in VS Code"
Metogo does not seem to be working when I am in Jupyter (.ipynb) notebook in VS Code. Let me know if I am missing any settings or if it is a limitation of metago. Let me know if you need more information regarding the same

[2019-11-06 02:34] flowchartsman commented on #22
Could use some guidance on this one. It seems to be in the source, but I see references to imports commented out. It's pretty rough having a prebound command that doesn't exist and removes existing functionality in VScode. I'm happy at taking a crack at a fix, but I'm not experienced in typescript, and, given that this has been a problem for 9 months now, it's not inspiring a lot of confidence, so

[2019-11-08 00:41] nicchristeller commented on #31
The jumping is broken in recent versions of VSCode (confirmed in 1.40), see #28. Is this your issue?

[2019-11-12 11:18] nicchristeller commented on #28
Have added a PR that works around the problem, since I'm unsure of the actual cause. If this gets no attention in the very near future (the repo may have been abandoned?) then I'll figure out how to set up my fork as a full-fledged extension for VSCode.

[2019-11-12 13:51] dinesh3434 commented on #31
No. I issue is that Metogo does not work in a Jupyter notebook i.e when you open any *.ipynb in VSCode. Let me know if you need any other details regarding the same.

[2019-11-12 17:16] AaronDovTurkel commented on #28
Also not showing for me...

[2019-11-12 20:38] nicchristeller commented on #28
With the PR applied? You'll need to add a setting `metaGo.decoration.useTextBasedDecorations: true` since I've left it off by default to be less intrusive

[2019-11-12 21:12] AaronDovTurkel commented on #28
Nope - not sure how to apply the PR...

[2019-11-13 11:38] nicchristeller commented on #28
My fork is and appears to be working, at https://marketplace.visualstudio.com/items?itemName=metagogo.metagogo. Ignore my comment above, it should automatically work without adding any settings values. Let me know how it goes for the rest of you!

[2019-11-13 15:16] kamenminkov commented on #28
Cool! Thank you very much!
Just tried it on 1.41 Insider, it does indeed work. Decorators look a little more jagged and somewhat misplaced, but of course this is way better than nothing.

[2019-11-13 22:35] nicchristeller commented on #28
Yep, it will probably get some polish when I find some spare time but just wanted it up and running for now 😅

[2019-11-21 23:02] TheAifam5 commented on #22
It's not a bug. Just got deleted 1yr ago :)

[2019-11-27 01:15] Joker0824 commented on #31
the plugins is not work in recent version

[2019-12-28 15:00] tiancai110a commented on #28
it work!

[2020-01-14 20:24] kbirger commented on #28
@nicchristeller your fork doesn't work for me.

Version: 1.41.1 (user setup)
Commit: 26076a4de974ead31f97692a0d32f90d735645c0
Date: 2019-12-18T14:58:56.166Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.18363

same behavior as original.

I hit alt+;, and I get a small green rectangle highlight. I press any key, and the input cursor jumps ar

[2020-02-14 23:39] metasong commented on #30
let me have a look

[2020-02-14 23:42] metasong commented on #30
it should be possible, add it to todo list. current you could use Ctrl+1 or Ctrl+2 ... to switch the panel, and then use metajump at the active window.

[2020-02-14 23:44] metasong commented on #29
yep, you are right.

[2020-02-14 23:48] metasong commented on #28
thank the pull request from @nicchristeller , new version released, I would do more improvement for the project from now on...
@nicchristeller would you like to be a codeveloper for this project?

[2020-02-15 03:31] metasong commented on #31
@dinesh3434 It seems with the Python extension installed the .jpynb would be opened in a kind of custom view, I'll keep an eye on this, to see whether there is a way to let vscode extension works on other extension's view

[2020-02-15 03:40] #29 closed

[2020-02-15 04:42] metasong commented on #20
what's the benefits compared with current way?

this way is more like a search, try ctrl+f then type?
close it for now

[2020-02-15 04:44] metasong commented on #12
yes, thanks for remind.

[2020-02-15 04:44] #12 closed

[2020-02-15 04:54] metasong commented on #22
I would enhance delete related feature recently, sorry for the half implemented feature

[2020-02-17 15:57] #21 closed

[2020-02-17 16:25] metasong commented on #22
totally remove the feature implementation, recommend the hungry-delete extension

[2020-02-17 16:26] #22 closed

[2020-02-17 17:22] #28 closed

[2020-02-19 13:58] iignatov commented on #20
IMHO the current way is very confusing - if one hits a very common letter, there are so many labels that they add much more noise than usefulness.

When I tried to use this plugin I constantly was entering 2-3 letters of the word in a row, which sometimes resulted in jumps in totally different locations.

I stopped using this plugin because of that - at least for me the current way is not working

[2020-02-21 14:35] metasong commented on #20
@iignatov you mean the current encoding way has flaw to lead you to wrong location? I would examining the algorithm, and make it better.

YES! you are right, I'm trying to add the muti-location char support, take your example, that means you could type aw... and the decoration code would dynamically changed accordingly. with this way you have 2 sets of codes for locating, one follows the location

[2020-02-21 14:37] #18 closed

[2020-02-21 14:38] metasong commented on #18
for now don't know the use case and the value. it would be better to give me more info

[2020-02-21 14:39] metasong commented on #25
fixed, in v3

[2020-02-21 14:39] #25 closed

[2020-02-21 14:42] metasong commented on #19
@iignatov what is IMO?
is this related to #20

[2020-02-21 14:44] metasong commented on #24
refer: #20
is this what you want?

[2020-02-21 14:44] #24 closed

[2020-02-21 14:45] #31 closed

[2020-02-21 14:52] metasong commented on #26
have to reload the window to take effect. with your shortcut, I would rethink about this command

[2020-02-21 14:53] metasong commented on #27
currently works

[2020-02-21 14:53] #27 closed

[2020-02-21 14:54] #11 closed

[2020-02-25 03:46] metasong commented on #30
done with version 3.1.2

[2020-02-25 03:46] #30 closed

[2020-02-28 14:49] metasong commented on #23
done in v3.2.0

[2020-02-28 14:49] #23 closed

[2020-03-01 12:28] Ranguna opened #40 "Keybinding for metaGo.selectLineUp conflicts with default for editor.action.selectHighlights"
At least on Linux, the default keybind for `editor.action.selectHighlights` is `Ctrl+Shift+L`, which metaGo inconsiderately overwrites.
Is it possible for the default keybind for `metaGo.selectLineUp` (or any other metaGo commands) to change, so it doesn't conflict with any default vscode commands ?

[2020-03-03 01:21] metasong commented on #40
I really want to remove the defaut conflict, the problem here is what's the most convent shortcut for us to use the commands. Is ctrl+l, down, down....for selecting down, and ctrl+l, up,up... for select up ok? are there better way? what's your suggestion.

[2020-03-03 09:17] Ranguna commented on #40
By `Ctrl+L, up`, do you mean first `Ctrl+L` (then release) then `up` ?

Because if so, the user would need to constantly press and release `Ctrl+L` before every `up` to select a line up, I think this would be a little slow.

How about `Alt+Shif+K` for up and `Alt+Shift+J` for down instead ?
This follows the classic vim keybind for up and down.

[2020-03-03 12:27] metasong commented on #40
I'm thinking make Ctrl+L into a line comand trigger: if the user press i(means up, configurable), triggers the selecting up subcomand, in this subcomand the user can press i again or press k (mean down) several times. Ctrl+L, k is select down subcomand triger. any other key other than i,k would escape this comand. This is the idea, I would evelate the possiblility to make it happen. any better ide

[2020-03-03 19:31] metasong commented on #40
#26

[2020-03-03 19:31] #26 closed

[2020-03-04 09:18] Ranguna commented on #40
From what I understand of command triggers, we need to press the trigger (`Ctrl+L`), release the keys and press the next key and release. To repeat the command, you need to do everything else again and not just the last key:
Press `Ctrl+L`, release `Ctrl+L`, press `up`, release `up` -> Select line up is ran.
Press `Ctrl+L`, release `Ctrl+L`, press `up`, release `up` -> Select line up is ran. -> pr

[2020-03-04 18:57] metasong commented on #40
thank you for your detail description.
in vscode, we could create a command that last for a while, and when execute the command, we can read the user's key stroke and do task accordingly.
the only one problem in my idea is the escape of the command. I could make the escape occurs when user type key that is not 'i' or 'k', and also add a timeout after user press 'i' or 'k' to do escape, it's a kind

[2020-03-05 21:31] Ranguna commented on #40
Yes. Maybe to quickly close this issue, you can just assign a non conflicting shortcut, then you can explore other options in the future.
As I said above, `Alt+Shif+K` for up and `Alt+Shift+J` for down are good for me.

[2020-03-09 15:27] metasong commented on #40
I prefer to keep use the current default setting; Ctrl+L is the default shortcut for select line down.
you could press ctrl+K, ctrl+s and search metago, find the command and assign the shortcut that you like. note: you could also right click and select delete, to remove the metago default assignment:
![image](https://user-images.githubusercontent.com/5009757/76229581-7323e900-61f0-11ea-9b1b-bb334f

[2020-03-09 19:20] Ranguna commented on #40
Yes, I locally deleted metago keybinding before posting this issue.
That new key is fine by me as long as it doesn't overwrite vscode's default ones 👍

[2020-03-23 22:05] metasong commented on #19
close this because have config to do this already:
[code]

[2020-03-23 22:05] #19 closed

[2020-03-23 22:06] metasong commented on #20
done!
V3.4.0 - Mar 18, 2020

[2020-03-23 22:06] #20 closed

[2020-04-17 03:24] metasong commented on #40
@Ranguna new implementation:
* <kbd>Ctrl</kbd>+<kbd>l</kbd> to select current line or extend selection by one line below.
* <kbd>Ctrl</kbd>+<kbd>o</kbd> to extend selection by one line above.

I have done the implementation, would be released in the next version😉

[2020-04-18 14:08] Ranguna commented on #40
So the original issue was about a metaGo keyboard shortcut conflicting with a default vscode one. Your solution is to remove the old conflicting and replace it with a new, even worse and widely used, default vscode keyboard shortcut ?

Should I change the issue name to be more generic, something like "remove all metaGo keyboard shortcut conflict with default vscode keyboard shortcuts", or should I

[2020-04-18 14:59] metasong commented on #40
@Ranguna I think you misunderstand what I mean.
there is no conflict after my modification, It's better than my original solution.
the ctrl+o to open a file still works, it just works as the extending selection up when there is selection.

[2020-04-18 15:11] metasong commented on #40
let me build a special release for you, have an evaluation:
[v3.6.1](https://github.com/metaseed/metaGo/raw/master/localRelease/metago-3.6.1.vsix)

[2020-04-18 17:15] Ranguna commented on #40
Hmm.. Now I feel stupid. I'm sorry for what I said.

Users will still see a weird behavior when they have selected something and are trying to open a file though, but either way, the original command doesn't conflict anymore.

Also v3.6.1 works as described. I'm good with closing this issue once the next version has been released. Thanks :+1:

[2020-04-19 03:01] metasong commented on #40
I'm glad you accept it. And also to remind if you want you can bind other shortcuts as you described before, just to make sure to remove 'editorHasSelection' condition for 'selectLineUp' to make it works even without selection.(you need edit json file to modify condition). I think the default key bindings are better, the collision is minor than the convenience it brings.

[2020-04-26 21:39] metasong commented on #40
close this issue after publish V3.6.6

[2020-04-26 21:39] #40 closed

[2020-05-16 03:00] mjbvz opened #42 "Adopt VS Code's 'asWebviewUri' API"
Hi, I maintain VS Code's Webview API

## Issue
Our telemetry suggests that your extension uses webviews and may be loading resources in these webviews using hardcoded `vscode-resource:` URIs. These URIs have some important limitations and don't work properly when VS Code is run in a browser. We are also making changes in the desktop version of VS Code that may cause these URIs to not work properly

[2020-05-25 22:29] #42 closed

[2020-06-17 03:56] phyllisstein opened #43 "cursorSpaceWord commands skip over strings."
👋 Hey there. Thanks so much for your work on this package: MetaGo and MetaJump are a delight, and MetaWord solves what’s easily the most maddening bug in VSCode I’ve ever seen. My only quibble with the latter is that the `cursorSpaceWord` commands skip over strings, rather than jumping to inter-word separators within them.

I double-checked that the behavior I expected was indeed the behavior that

[2020-06-19 15:09] metasong commented on #43
@phyllisstein thank you so much for such detailed feedback with nice gif! 👍
I'm so glad you like the tool.

if I understand correctly, you are asking the the functionality of  [word commands](https://github.com/metaseed/metaGo/tree/master/src/metaWord#word-commands-to-movecursorselectdelete-by-word).

metaWord defines 3 kinds of words:
|word type|description|
|---|---|
|SpaceWord(BigWord)| charact

[2020-06-19 19:03] combdn opened #44 "Transparent overlay over unused variables and constants"
Hey, thanks for the great package.
This is the issue I’ve encountered: overlay becomes transparent when it is located over unused variables and constants (which are greyed out).
![metago-bug 2020-06-19 21_56_39](https://user-images.githubusercontent.com/889260/85171555-e4efe200-b277-11ea-911a-794db2427dcc.gif)

[2020-06-19 22:35] metasong commented on #44
this is because the theme or language extension make the unused variable grayed by making it partially transparent. it also makes the text decorator half transparent.

when I have time I would try to find a workaround, for now let keep it as it is.

[2020-06-19 22:35] #44 closed

[2020-06-23 00:08] phyllisstein commented on #43
🤦 Gah, thank you for so patiently explaining what was, I now see, already patiently explained in the README. That makes perfect sense. I think what got me turned around initially was that the word commands from this package didn't straightforwardly _override_ the built-in commands. They just wound up appearing alongside them:

![2020-06-22 20 03 20@2x](https://user-images.githubusercontent.com/220

[2020-06-23 00:08] #43 closed

[2020-06-23 14:43] metasong commented on #43
@phyllisstein so glad you find your solution, 🥂

[2020-08-20 17:34] quhsi opened #50 "Where is the code?"
Hi, the repository seems to contain git submodules (e.g. for metaJump). However, the access to the submodules seems to be restricted, so `git submodules update --init` fails. Could you please fix that? Thanks!

[2020-08-20 17:42] quhsi opened #51 "MetaJump does not highlight all occurrences"
MetaJump only highlights the *n* closest occurrences of the letter to jump to. The area where occurences highlighted seems to correlate with the current method block. I expected that all visible occurrences in the current editor are highlighted.

[2020-08-20 19:59] quhsi opened #52 "Occurrences in output pane highlighted"
**Repro steps & actual behavior**

1. Open a new, empty document.
2. Open the output pane and select "Log (Extension Host)".
→ The output pane is filled with much text.
3. Press the shortcut for `metaGo.gotoBefore` and `e`.
→ Several occurrences in the output pane are highlighted.
4. Complete the action by pressing displayed characters.
→ Labels change as usual but no focus jump into the output pa

[2020-09-02 18:44] quhsi commented on #51
It works well and it probably works as designed. When you want to jump to a occurence of a text like `example` and there are may occurrences of the letter `e` in the visible area, then you can just additionally type the following letters `x` `a` … and the area of highlights will expand while the number of highlights will decrease.

[2020-09-02 18:44] #51 closed

[2020-11-29 23:19] tbenst commented on #50
I think the plugin may be broken due to this issue--can't see any of the metajump commands in VScode

[2021-01-21 21:07] metasong commented on #50
the code is in another repo, after I finished the refactor, it would be open again.

[2021-01-21 21:07] #50 closed

[2021-01-21 21:07] metasong commented on #52
I would fix this problem when have time

[2021-01-21 23:32] tbenst commented on #50
Thanks for the update! I’m very happy to hear you’re still working on it. Seems like an amazing project and I appreciate your efforts—they aren’t taken for granted :)

[2021-01-31 22:20] pokey opened #56 "Multiple characters in metajump"
I'm a bit confused about the behaviour of typing multiple characters for metajump.  In the screenshot below, I typed "tak", but as you can see, it is annotating lots of locations that only start with 't', rather than the full prefix, and it is leaving out all the places on the left that actually do start with 'tak'.  Is this expected behaviour?

![image](https://user-images.githubusercontent.com/7

[2021-02-18 18:14] dy-dx opened #57 "sequential-target-chars breaks when entering characters quickly"
In the video example, I execute `metaGo.gotoSmart` and quickly input "foobar," which leads to unexpected behavior.
When I enter "foobar" slowly, it works as expected.

This only seems to occur when there are a lot of matches on the screen.

https://user-images.githubusercontent.com/1074881/108401728-a9346000-71ea-11eb-850f-139564f3b689.mp4

[2021-03-30 10:08] XobSod opened #61 "Metajump does not cover whole view"
Hi All,
First of all, great extension.
I don't know if something changed recently, but for some time, meta jump does not cover whole view with decorations.

I have here sample lorem ipsum text, where I am jumping to 'r'. As you can see, not whole screen is covered with anchors.
![NotCovered](https://user-images.githubusercontent.com/3855655/112971730-cd6f4f00-914f-11eb-8146-0342c4330196.png)

It s

[2021-03-30 10:55] XobSod commented on #61
Ok, sorry, I found the solution. The documentation was a little misleading, but I figured it out ;) sorry for trouble

[2021-03-30 10:55] #61 closed

[2021-05-14 10:53] paprikka opened #71 "Is there a way of enabling jumping to word easily without any other features?"
Hey, I've been using jumpy for some time, but I prefer the design of your extension (text is much more legible). Thanks for sharing!

Jumping to a given phrase (`alt+/`) is literally the only feature I need. Is there an easy way of enabling `alt+/` exclusively? Having _more_ features actually messes with my workflow a bit:)

[2021-05-15 19:50] shekhars094 opened #72 "Is This Extension is dead??"

[2021-06-08 18:37] metasong commented on #72
recently too busy to allocate time. but have a plan to upgrade it based on some new thought, give a monent

[2021-06-08 18:37] #72 closed

[2021-06-08 18:44] metasong commented on #71
just use the  MetaJump which is separated from metaGo.
if you want to remove the shortcut of other command from metaJump:
ctrl+K S then search 'xx'
![image](https://user-images.githubusercontent.com/5009757/121240065-94461000-c85f-11eb-9932-8211472339b9.png)

[2021-06-08 18:44] #71 closed

[2021-06-08 18:48] metasong commented on #56
let me confirm

[2021-06-08 18:50] metasong commented on #57
further look

[2021-07-01 20:22] macintacos opened #73 "Feature Request: implement "clever-f-like" functionality"
There's a plugin I use in Vim all the time called [clever-f](https://github.com/rhysd/clever-f.vim), and every time I come back to VSCode I miss it. I wonder if adding something like it here is something that fits with this project.

How I imagine it working is:

- Initiate metaJump, search for a character on-screen, hit "Enter".
- All the characters that match the character remain highlighted (un

[2021-08-17 00:55] metasong commented on #73
intresting! let me have a look!

[2021-08-17 08:47] craigjperry2 opened #75 "Feature Request: Add licencing terms"
Hey, awesome extension - it's been rock solid for me. It doesn't slow anything down and it just works. Thank you!

Could you declare the licence for the project by adding a licence file to the repository?

**Background**
Some large corporations have rules around what products can be installed on their machines - e.g. they do code reviews and analyse project dependencies etc. etc. partly to make su

[2021-08-17 13:44] metasong commented on #75
@craigjperry2 thank you for your suggestion. I remember it's MIT, but just checked the license file is not there. I would update it as MIT.

[2021-08-17 13:48] metasong commented on #75
updated!🥂

[2021-08-17 13:48] #75 closed

[2021-08-17 21:51] metasong commented on #73
@macintacos I guest what you want is the command to repeat-forward and repeat-backward.
I'm planning to bind. alt+. two times for repeat last search forward, and alt+, 2 times to repeat last search backword. it also works for the selection and deletes commands

any suggestion?

[2021-08-22 22:33] #52 closed

[2021-08-22 22:33] metasong commented on #52
fixed and available in next release

[2021-08-22 23:02] metasong commented on #73
still do not see value, after rethinking. if the user want to goto the location why not directly type the decorators on screen, but type several times to move backword/foreword to that location.
so would not implement this feature.
@macintacos  there may some other use-case, I do not see, if there is, please let me know, I would open this issue for a while

[2021-08-23 10:15] c7hm4r commented on #52
Thanks!

[2021-08-23 10:17] quhsi commented on #52
Thanks!

[2021-09-28 16:14] #73 closed

[2021-09-28 16:18] metasong commented on #56
it's by design, type one char for navigate within paragraph, 2 chars for current doc, 3 chars for all documents.
if you prefer just type one char, there is a config to use:
[code]
to make the to commands use single-target-char: show decorations of all potential locations after user type one target char.

[2021-09-28 16:18] #56 closed

[2021-10-02 00:39] Inch4Tk opened #80 "Jumping Highlights stay visible after jump"
When I use metaJump or metaSelect the created jumping highlights will stay. See the attached gif:

![jumpmarkers_dont_disappear](https://user-images.githubusercontent.com/855322/135698075-1daaeadb-9d57-4a82-98b5-86d7ce4647f4.gif)

This started happening since I added an integrated terminal profile, with a custom path and setting it to the default terminal profile.

Like so:
[code]
When setting a n

[2021-11-12 21:29] crazycode opened #81 "Can't jump to char with end comment"
Hi,

I found it not work when a line with a comment in line end, such as:

[code]

when try goto 'url',  press metaGo.gotoSmart key,  the line can not show jump char.
then delete the comment `// 仅为示例`, it works.

[2021-12-05 21:46] carlocardella commented on #57
Any update on this? I have the same problem

[2022-01-17 22:28] macintacos opened #82 "Consider adding a Lightspeed implementation for MetaJump"
I'm not quite sure how to describe it, but I've been using this extension for a while and every time I switch back to using Neovim and using the lightspeed plugin (https://github.com/ggandor/lightspeed.nvim), text navigation with the latter always feels really nice to use. Not saying that this extension isn't good by any means, it just feels like there's less "friction" with lightspeed.

I can't q

[2022-01-26 11:48] zoabi-ecoinvent commented on #57
I have the same problem too

[2022-03-07 02:04] kohane27 opened #83 "Integration with vscodevim: how to run `metaGo.gotoBefore` in command line mode?"
Greetings. Hope you're doing well. Thank you for checking in this issue. I appreciate any help.

**Describe the bug**

I'm using metaJump along with [vscodevim](https://github.com/VSCodeVim/Vim). I have the following setting:

[code]

However, when I press `s`, the Quickpick command line popup window shows up (screenshot below), which is not what I want. I tried disabling vscodevim and metaJump be

[2022-03-23 00:33] gwiede opened #84 "Adjustable font+size (or at least size) for label display"
I find it's often difficult to parse the label / jump-target required in the brief time displayed -- mono fonts tend to be "busy" at edges, so adjacent chars can "merge together" making labels difficult to quickly read.

It would be great if I could adjust the the jump targets / labels to use slightly larger font size, or even a different font entirely from the editor text proper (in order to ease

[2022-03-23 00:35] gwiede opened #85 "Related to #84, would be nice to have adjustable delay for period labels/target are displayed."
It would also be great if there were preferences for how long the labels are displayed, so those of us with slower reaction times could up the time displayed, delay before canceling, and other periods.

[2022-03-23 00:38] gwiede opened #86 "Also related to #84, to further enhance letter discrimination, allow users to customize label fgnd/bkgnd colors"
Title pretty much says it all, would be neat if users could customize label/target coloration for foreground and background.

I searched through the obvious documentation, but if such customizations mentioned in #84, #85, or this existed, I couldn't discover what their json keys were to do so.

Thanks very much for such an excellent package!!

[2022-04-06 01:55] kohane27 commented on #50
@metasong Is the src code opened yet? I'm trying to solve the issue with [Integration with vscodevim](https://github.com/metaseed/metaGo/issues/83) but [src @ b162f7e](https://github.com/metaseed/metaJump/tree/b162f7e790c94c7064bb8e509862b3d03e03f6d2) leads to an 404 page. I'd appreciate it if you could open the src again. Thanks!

[2022-05-07 20:37] metasong commented on #86
would touch it quickly, so glad you like it, i would put more effort on it

[2022-07-31 18:04] cunha opened #95 "Rename "select Empty Line Move Up""
It seems this would be better off renamed as "Goto Empty Line Up" to make it easier to find and in line with `metaGo.gotoEmptyLineDown`.

![image](https://user-images.githubusercontent.com/325495/182039392-527ed361-a5ef-455b-a679-9a301f00576a.png)

[2022-11-16 06:00] devmor-j opened #100 "Scroll to cursor on alt+a"
Hey nice job creating this extension.

When selecting a large text and jumping cursor to the other end (by pressing `Alt + A`), I would like the editor to scroll into it as well.

[2022-11-17 00:00] Hifilo opened #101 "Rapidfire Cursor Placement?"
Hi, This is an awesome extension!

I'm wondering if there is a setting to be able to place cursors continuously for the last selected character instead of hitting `alt - shift - /`  and redoing the steps?

For example I want place cursors at the number 3 located at various points in the file, but I don't want to select all of them. Part of me thinks it's a mistake on my end.

[2022-11-23 12:40] freMea commented on #82
Lightspeed author created a new plugin name [leap](https://github.com/ggandor/leap.nvim) meant to be an upgrade. Should MetaGo implement this one ?

Here is a [video](https://youtu.be/2KLFjhGjmbI). I admit the logic is pretty elegant and speed up the process.